{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-undef": "off",
    "semi": ["error", "always"],
    "no-extra-semi": 1,
    "no-unused-vars": "error",
    "max-len": ["warn", { "code": 120, "ignoreComments": true }]
  }
}
